<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.eqm.dao.EqmMapper">

	<!-- 설비 등록 페이지 - 설비등록 -->
	<insert id="insertEqm" parameterType="EqmVO">
		INSERT INTO EQM(
					EQM_ID, 
					EQM_NAME, 
					MODEL_NO, 
					VEND_ID, 
					TEMP_MAX, 
					TEMP_MIN, 
					CHCK_PERD, 
					REG_DT, 
					MNGR, 
					EQM_IMG, 
					PURC_DT, 
					FG, 
					SPEC, 
					USE_YN, 
					UPH
					)
		VALUES
		(#{eqmId},#{eqmName},#{modelNo},#{vendId},#{tempMax},#{tempMin},#{chckPerd},#{regDt},#{mngr},#{eqmImg},#{purcDt},#{fg},#{spec},#{useYn},#{uph})
	</insert>
	
	<!--설비 관리 페이지 - 설비조회  -->
	<select id="eqmList" resultType="EqmVO">
		SELECT E.EQM_ID AS EQM_ID, 
			   E.EQM_NAME AS EQM_NAME, 
			   P.PRCS_ID AS PRCS_ID, 
			   P.NM AS NM, 
			   E.USE_YN AS USE_YN, 
			   E.FG AS FG,
			   E.TEMP_MAX AS TEMP_MAX,
			   E.TEMP_MIN AS TEMP_MIN,
			   E.CHCK_PERD AS CHCK_PERD,
			   E.EQM_IMG AS EQM_IMG
		FROM EQM E, 
			 PRCS P 
		WHERE E.EQM_ID = P.EQM_ID 
		
		<if test='gubun != "전체" and gubun != null and gubun != ""'>
			AND E.FG = F_COM_NM_TO_CODE(#{gubun})
		</if>
		
	</select>
     
    <!-- 설비 관리 페이지 - 설비 한 건 조회(모달창) -->
	<select id="eqmSelect" parameterType="EqmVO" resultType="EqmVO">
		SELECT E.*, 
			   P.PRCS_ID, P.NM
		FROM EQM E, 
			 PRCS P 
		WHERE E.EQM_ID = P.EQM_ID
		AND E.EQM_ID = #{eqmId} <!-- #{eqmId} 클릭시 넘긴 인자값 -->
	</select>
	
	<!-- 설비 관리 페이지 - 설비 한 건 조회(모달창) 수정 -->
	<update id="eqmUpdate" parameterType="EqmVO">
		UPDATE EQM 
		SET 
			TEMP_MAX = #{tempMax},
			TEMP_MIN = #{tempMin},
			CHCK_PERD = #{chckPerd},
			EQM_IMG = #{eqmImg},
			USE_YN = #{useYn}
		WHERE EQM_ID = #{eqmId}
	</update>
	
	<!-- 설비 관리 페이지 - 설비 한 건 조회(모달창) 삭제 -->
	<delete id="eqmDelete" parameterType="EqmVO">
		DELETE FROM EQM
		 
		WHERE EQM_ID = #{eqmId}
	</delete>
	
	<!-- 점검페이지관리/비가동페이지관리 - 등록 전 조회 -->
	<select id="eqmNonList" resultType="EqmVO">
		SELECT E.EQM_ID AS EQM_ID, 
			   E.EQM_NAME AS EQM_NAME, 
			   E.CHCK_PERD AS CHCK_PERD,
			   P.PRCS_ID AS PRCS_ID, 
			   P.NM AS NM
		FROM EQM E, PRCS P 
		WHERE E.EQM_ID = P.EQM_ID 
		<if test='gubun != "전체" and gubun != null and gubun != ""'>
			AND E.FG = F_COM_NM_TO_CODE(#{gubun})
		</if>
	</select>
	
	<!-- 비가동 내역조회 -->
	<select id="eqmNonSelect" resultType="EqmNonVO">
       	SELECT A.*,
       		   E.EQM_NAME 
     	FROM
        	(
        	 SELECT O.*, 
        	 		R.RESN_NAME
			 FROM EQM_NON_OPR O, 
			 	  EQM_NON_OPR_RESN R
        	 WHERE O.RESN_ID = R.RESN_ID 
        	 AND EQM_ID = 'EQM-001'	<!-- 인자값으로 바꾸기 -->
        	 ) A,
        	 EQM E 
        WHERE A.EQM_ID = E.EQM_ID
	</select>
</mapper>                       