<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.eqm.dao.EqmMapper">

	<!-- 설비 등록 페이지 - 설비등록 -->
	<insert id="insertEqm" parameterType="EqmVO">
		insert into eqm(EQM_ID, EQM_NAME, model_no, VEND_ID, TEMP_MAX, TEMP_MIN, CHCK_PERD, REG_DT, MNGR, EQM_IMG, PURC_DT, FG, SPEC, USE_YN, UPH)
		values(#{eqmId},#{eqmName},#{modelNo},#{vendId},#{tempMax},#{tempMin},#{chckPerd},#{regDt},#{mngr},#{eqmImg},#{purcDt},#{fg},#{spec},#{useYn},#{uph})
	</insert>
	
	<!--설비 관리 페이지 - 설비조회  -->
	<select id="eqmList" resultType="EqmVO">
		select e.eqm_id as eqm_id, 
		e.eqm_name as eqm_name, 
		p.prcs_id as prcs_id, 
		p.nm as nm, 
		e.use_yn as use_yn, 
		e.fg as fg,
		e.tmep_max as temp_max,
		e.temp_min as temp_min,
		e.chck_perd as chck_perd,
		e.eqm_img as eqm_img
		from eqm e, prcs p 
		where e.eqm_id = p.eqm_id 
		
		<if test='gubun == "전체"'>
		</if>
		<if test='gubun == "배합"'>
			and e.fg = 'CLAS01'
		</if>
		<if test='gubun == "운송"'>
			and e.fg = 'CLAS02'    
		</if>
	</select>
     
    <!-- 설비 관리 페이지 - 설비 한 건 조회(모달창) -->
	<select id="eqmSelect" parameterType="EqmVO" resultType="EqmVO">
		select e.*, p.prcs_id, p.nm
		from eqm e, prcs p 
		where e.eqm_id = p.eqm_id
		and e.eqm_id = #{eqmId} <!-- #{eqmId} 클릭시 넘긴 인자값 -->
	</select>
	
	<!-- 설비 관리 페이지 - 설비 한 건 조회(모달창) 수정 -->
	<update id="eqmUpdate" parameterType="EqmVO">
		update eqm set
		temp_max = #{tempMax},
		temp_min = #{tempMin},
		chck_perd = #{chckPerd},
		eqm_img = #{eqmImg},
		use_yn = #{useYn}
		where eqm_id = #{eqmId}
	</update>
	
	<!-- 설비 관리 페이지 - 설비 한 건 조회(모달창) 삭제 -->
	<delete id="eqmDelete" parameterType="EqmVO">
		delete from eqm 
		where eqm_id = #{eqmId}
	</delete>
</mapper>                       