<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.prd.prdIndica.dao.PrdIndicaMngMapper">

<!-- 미지시 생산계획 조회 -->
	<select id="nonIndicaList" resultType="PrdIndicaMngVO">
		select pp.plan_id as plan_id,
			   pp.name as name
		from prod_plan pp left outer join prod_indica pi
		    on pp.plan_id = pi.plan_id
		where pi.indica_id is null
		order by pp.dt
	</select>
</mapper>