<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.biz.dao.OrderMapper">

<!--주문서 전체 조회. -->
<select id="findOrderList" resultType="OrderVO">
	select 
	 	 a.order_id, a.vend_id, a.order_dt, a.oust_dt, a.st_fg, a.remk,
		 b.order_sht_deta_id, b.prdt_id, b.qy, c.vend_name
     from order_sht a join order_sht_deta b
     on a.order_id = b.order_id
     join vend c
     on a.vend_id = c.vend_id	
     <where>
     	<if test="orderDt != null and oustDt != null">
     		<![CDATA[dt between to_date(#{orderDt}) and to_date(#{oustDt})]]> 
     	</if>
     </where>
    	
</select>

<!-- 주문서에서 거래처 검색 modal -->
<select id="vendList" resultType="OrderVO">
	select  vend_id, vend_name, bizno, telno
 	from vend
</select>

<!-- 주문서에서 제품코드 검색 modal -->
<select id="prdtList" resultType="OrderVO">
	 select prdt_id, prdt_nm, spec
	 from prdt
</select>

</mapper>

	


