<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.prd.prdPlan.dao.PrdPlanMngMapper">

<!-- 생산계획관리 - 주문서 modal  -->
	<select id="OrderShtList" resultType="PrdPlanMngVO">
		select os.order_id as order_id, 
			   os.order_dt as order_dt, 
			   ve.vend_name as vend_name,
			   os.oust_dt as oust_dt,
			   sum(osd.qy) as qy
		from order_sht os join order_sht_deta osd
		    on (os.order_id = osd.order_id)
		    join vend ve
		    on (os.vend_id = ve.vend_id)
		where not os.st_fg = 'finish' 
		group by os.order_id, os.order_dt, ve.vend_name, os.oust_dt
		order by os.oust_dt asc, to_number(sum(osd.qy)) desc
	</select>
	
<!-- 생산계획관리 - 검색창 modal -->
	<select id="SearchPlanList" resultType="PrdPlanMngVO">
		select plan_id, name, dt
		from prod_plan
		<where>
			<if test="startD != null and endD != null">
			<![CDATA[to_char(dt,'YYYY-MM-DD') >= #{startD} and to_char(dt,'YYYY-MM-DD') <= #{endD}]]> 
			</if>
		</where>
		order by dt
	</select>
	
<!-- 생산계획관리 - 선택한 주문서 정보 출력 -->
	<select id="ChooseOrder" resultType="PrdPlanMngVO">
		<choose>
			<when test = "orderId != null">
				select osd.prdt_id as prdt_id, 
					   p.prdt_nm as prdt_nm, 
					   os.order_id as order_id, 
					   osd.qy as qy
				from order_sht os join order_sht_deta osd
				    on os.order_id = osd.order_id
				    join prdt p
				    on p.prdt_id = osd.prdt_id
				where os.order_Id = #{orderId}
			</when>
			<otherwise>
				select ppd.plan_deta_id as plan_deta_id, 
					   ppd.prdt_id as prdt_id, 
					   p.prdt_nm as prdt_nm, 
					   pp.order_id as order_id, 
					   ppd.qy as qy, 
					   pp.prod_dcnt as prod_dcnt, 
					   ppd.priort as priort, 
					   pp.fg as fg
				from prod_plan pp join prod_plan_deta ppd
				    on pp.plan_id = ppd.plan_id
				    join prdt p
				    on p.prdt_id = ppd.prdt_id
				<where>
					<if test="planId != null">
						pp.plan_id = #{planId}
				 	</if>
				<!--	<if test="name != null and dt != null">
						pp.name = #{name} and pp.dt = #{dt}
					</if> -->
				</where>
			</otherwise>
		</choose>
	</select>
</mapper>