<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.rwmatr.istoust.dao.RwmatrioMapper">

	<select id="RwmatrIstList" resultType="RwmatrioVO">
		SELECT RIO.RWMATR_ID AS RWMATR_ID, 
			   R.NM AS NM, 
			   RIO.IST_QY AS IST_QY, 
			   RIO.IST_OUST_DTTM AS IST_OUST_DTTM, 
			   RIO.LOT_NO AS LOT_NO, 
			   RIO.EXPDATE AS EXPDATE,
               v.vend_name as vend_name
		FROM RWMATR_IST_OUST RIO JOIN RWMATR R
		ON RIO.RWMATR_ID = R.RWMATR_ID
        JOIN VEND V
        ON V.VEND_ID = R.VEND_ID
        WHERE IST_QY != 0
        	<if test="startDate != ''">
	    		AND <![CDATA[TRUNC(RIO.IST_OUST_DTTM) >= to_date(#{startDate})]]>
	    	</if>
	    	<if test="endDate != ''">
	    		AND <![CDATA[TRUNC(RIO.IST_OUST_DTTM) <= to_date(#{endDate})]]>
	    	</if>
			<if test="rwmName != ''">
				AND R.NM LIKE '%'||#{rwmName}||'%'
			</if>
			<if test="vendName != ''">
				AND V.VEND_NAME LIKE '%'||#{vendName}||'%'
			</if>
        ORDER BY IST_OUST_DTTM
	</select>
 	
 	<select id="RwmatrPassList" resultType="RwmatrioVO">
 		SELECT R.RWMATR_ID AS RWMATR_ID,
		       R.NM AS NM,
		       V.VEND_NAME AS VEND_NAME,
		       RII.PASS_QY AS PASS_QY,
               RII.DT AS DT
		FROM RWMATR_IST_INSP RII JOIN RWMATR R
		    ON RII.RWMATR_ID = R.RWMATR_ID 
		JOIN VEND V
		    ON R.VEND_ID = V.VEND_ID
		WHERE RII.FG IS NULL
 	</select>
 	
 	<select id="RwmatrOustList" resultType="RwmatrioVO">
 		SELECT RIO.RWMATR_ID AS RWMATR_ID, 
			   R.NM AS NM, 
			   RIO.OUST_QY AS OUST_QY, 
			   RIO.IST_OUST_DTTM AS IST_OUST_DTTM, 
			   RIO.LOT_NO AS LOT_NO, 
			   RIO.EXPDATE AS EXPDATE,
               V.VEND_NAME AS VEND_NAME
		FROM RWMATR_IST_OUST RIO JOIN RWMATR R
			ON RIO.RWMATR_ID = R.RWMATR_ID
        JOIN VEND V
        	ON V.VEND_ID = R.VEND_ID
        WHERE OUST_QY != 0
        <if test="startDate != ''">
	    		AND <![CDATA[TRUNC(RIO.IST_OUST_DTTM) >= to_date(#{startDate})]]>
	    	</if>
	    	<if test="endDate != ''">
	    		AND <![CDATA[TRUNC(RIO.IST_OUST_DTTM) <= to_date(#{endDate})]]>
	    	</if>
			<if test="rwmName != ''">
				AND R.NM LIKE '%'||#{rwmName}||'%'
			</if>
			<if test="vendName != ''">
				AND V.VEND_NAME LIKE '%'||#{vendName}||'%'
			</if>
        ORDER BY IST_OUST_DTTM
 	</select>
</mapper>