<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.com.dao.ComCodeMapper">

<select id="findComCode" resultType="ComCodeVO">
	SELECT 
			CODE_ID,   
			CODE_ID_NM,  
			CODE_ID_DC, 
			USE_AT,      
			CL_CODE,       
			FRST_REGIST_PNTTM,         
			FRST_REGISTER_ID, 
			LAST_UPDT_PNTTM,         
			LAST_UPDUSR_ID
			 
	FROM COMTCCMMNCODE
</select>

<!-- <insert id="insertComCode">

INSERT INTO COMTCCMMNCODE (
			CODE_ID,   
			CODE_ID_NM,  
			CODE_ID_DC, 
			USE_AT,      
			CL_CODE,       
			FRST_REGIST_PNTTM,         
			FRST_REGISTER_ID, 
			LAST_UPDT_PNTTM,         
			LAST_UPDUSR_ID )
VALUES
('INF001','불량코드','불량코드','Y','GEL',SYSDATE,'Admin',SYSDATE,'Admin')

</insert> -->


</mapper>