<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gelato.app.com.dao.ComCodeMapper">

<select id="findComCode" resultType="ComCodeVO">

	SELECT 
			c.CODE_ID 		as CODE_ID,   
			c.CODE_ID_NM 	as CODE_ID_NM,  
			c.CODE_ID_DC 	as CODE_ID_DC, 
			c.USE_AT 		as code_id_use_at,      
			c.CL_CODE 		as CL_CODE,
			d.CODE 			as CODE,
			d.USE_AT 		as code_use_at,
			d.CODE_NM 		as codeNm,
			d.CODE_DC 		as codeDc
			 
	FROM COMTCCMMNCODE c
	LEFT JOIN COMTCCMMNDETAILCODE d
	ON c.CODE_ID = d.CODE_ID
	WHERE c.USE_AT = 'Y'
	
</select>

<insert id="insertComCode">

	INSERT INTO COMTCCMMNCODE (
				CODE_ID,   
				CODE_ID_NM,  
				CODE_ID_DC, 
				USE_AT,      
				CL_CODE,       
				FRST_REGIST_PNTTM,         
				FRST_REGISTER_ID, 
				LAST_UPDT_PNTTM,         
				LAST_UPDUSR_ID )
	VALUES
	(UPPER(#{codeId}),#{codeIdNm},#{codeIdDc},'Y','GEL',SYSDATE,'Admin',SYSDATE,'Admin')

</insert>

<update id="updateComCode">

	UPDATE COMTCCMMNCODE
	SET 
		CODE_ID_NM = #{codeIdNm},
		CODE_ID_DC = #{codeIdDc}, 
		USE_AT = #{useAt}
	WHERE code_id = #{codeId}

</update>

<delete id="deleteComCode">

	DELETE FROM COMTCCMMNCODE
	WHERE code_id = #{codeId}

</delete>


</mapper>